body {
  text-align: center;
  background-image: url('./images/pattern-background-desktop.svg');
  background-repeat: no-repeat;
  background-position: 0 -100px;
  background-color: rgba(210, 217, 246, 0.702);
  font-family: 'Red Hat Display', sans-serif;
}

.card-container{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 55vh;
  min-width: 50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  overflow: hidden;
}

.header-image {
  width: 100%;
  margin-top: -1px;
}

.paragraph {
  padding: 0px 40px;
  margin-bottom: 10px;
}

.paragraph h1 {
  font-size: x-large;
  color: hsl(223, 47%, 23%);
  margin-top: 30px;
}

.paragraph p {
  font-size: 16px;
  line-height: 20px;
  color: hsl(224, 23%, 55%);
}

.plans {
  display: flex;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
  margin: 0px 30px;
  padding: 10px;
  font-family: 'Red Hat Display', sans-serif;
  justify-content: space-around;
}

.plans img {
  margin-left: 5px;
}

.plans h2{
  font-size: medium;
  color: hsl(223, 47%, 23%);
}

.plans a {
  font-size: 13px;
  font-weight: bold;
  color: hsl(245, 75%, 52%);
  text-decoration: none;
}

.plans a:hover {
  color: hsl(224, 23%, 55%);
  cursor: pointer;
}

.plans p{
  font-size: medium;
  color: hsl(224, 23%, 55%);
}

.plans-paragraph {
  line-height: 5px;

}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin: 0px 10px;
}

.buttons button:first-child {
  width: 100%;
  background-color: hsl(245, 75%, 52%);
  border-radius: 7px;
  border-style: none;
  margin-bottom: 20px;
  font-weight: bolder;
  padding: 15px;
  color: white;
  box-shadow: 7px 10px 18px -2px rgba(0,0,0,0.18)
}

.buttons button:first-child:hover {
  background-color: hsl(224, 23%, 55%);
  cursor: pointer;
}

.buttons button:nth-child(2) {
  border-style: none;
  margin-bottom: 0px;
  font-weight: bolder;
  color: hsl(224, 23%, 55%);
  background-color: white;
}

.buttons button:nth-child(2):hover {
  cursor: pointer;
  color: hsl(223, 47%, 23%);
}

.attribution {
  position: absolute;
  bottom: 0;
  font-size: 11px;
}

.attribution a {
  text-decoration: none;
  font-weight: bold;
  color: hsl(228, 45%, 44%);
}

@media (max-width: 400px) {
  body {
    text-align: center;
    background-image: url('./images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
    background-position: 0 -30px;
    background-color: rgba(210, 217, 246, 0.702);
    font-family: 'Red Hat Display', sans-serif;
  }
  
  .card-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    overflow: hidden;
  }
}